html,
body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    
}

* {
    box-sizing: inherit;
}



body {
    background-color: whitesmoke;
    color: #333;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
}

nav {
    display: grid;
    place-items: center;
    justify-content: space-between;
    background: #5ef3ff;
}
.ul-nav {
    display: flex;
    list-style: none;
    gap: 20px;
}


header {
    background: #b4d1d7;
    padding: 0 10%;
}


section, header {
    border: 2px solid rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
   
}

.content {
    background: #b4d1d7;
    
}

.signup {
    background: #b4d1d7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    
}

.feature {
    background: #b4d1d7;
}

.feature.first {
    background-color: #b4d1d7;
}

.feature:last-child {
    background: #b4d1d7;
}

@media screen and (min-width:992px) {
    .features {
        display: flex;
        order: 1;
    }

    .feature {
        width: 100%;
    }

    .signup {
        height: 100px;
        min-height: auto;
        order: 1;
    }

    nav, header {
        order: 0;
    }

    .content{
        order: 3;
    }
}
